<xml>
    <ToUserName><![CDATA[<%- ToUserName %>]]></ToUserName>
    <FromUserName><![CDATA[<%- FromUserName %>]]></FromUserName>
    <CreateTime><%- CreateTime %></CreateTime>
    <MsgType><![CDATA[news]]></MsgType>
    <ArticleCount><%- ArticleCount %></ArticleCount>
    <Articles>
        <% for(var i = 0; i < Articles.length; i++) { %>
            <item>
                <Title><![CDATA[<%- Articles[i].Title %>]]></Title>
                <Description><![CDATA[<%- Articles[i].Description %>]]></Description>
                <PicUrl><![CDATA[<%- Articles[i].PicUrl %>]]></PicUrl>
                <Url><![CDATA[<%- Articles[i].Url %>]]></Url>
            </item>
        <% } %>
    </Articles>
</xml>